$my-color: #3d3d3d;

body {
  color: $my-color;
  background-color: blue;
}

#main {
  color: black;
  .header {
      position: absolute;
      top: 0px;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      img {
          width: 170px;
      }
  }
}
<<<<<<< HEAD
=======

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
>>>>>>> 81e73b1bef7d21095c2b8bcf6fffde56a0199aa4
