$my-color: #3d3d3d;

body {
  color: $my-color;
<<<<<<< HEAD
  background-color: rgb(206, 22, 22);
=======
  background-color: rgb(90, 53, 53);
>>>>>>> 69b4cfb2b1e772a1d3ceba9f04490e12888260e4

  h1 {
    size: 2em;
    color: #a71616;
  }
}