/* This is a CSS file */

.flex{
    display: flex;
}

.left{
    margin: 20px 20px;
    white-space: nowrap;
}

.center{
    margin: 20px 90px;
    white-space: nowrap;
}

.right{
     margin: 20px 150px;
     white-space: nowrap;
}

.name-position{
    position: relative;
    left: -75px;
}

.address-position{
    position: relative;
    left: -130px;
}

.text-color{
    color: red;
}