/* 掲示板 */
.board-list{
    display: flex;
    flex-direction: column;
    height:39.5em;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color: rgb(245, 245, 245);

}
.board-list::-webkit-scrollbar {
    display: none;
}
.board-item{
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    margin:5px 5px;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.22);
    opacity: 1.0;
}
.board-item.unselect{
    opacity: 0.6;
}
.icon-img{
    margin: 0.625em;
    margin-right: 0.9375em;
}
.board-text{
    width: 100%;
    padding-right: 0.3125em;
}
#text{
    display: flex;
    padding-top: 0.3125em;
    margin-top: auto;
    margin-bottom: auto;
}
.time{
    margin-top: auto;
    margin-bottom: auto;
}
.post-img{
    flex-direction: row;
    margin-right: 3.125em;
}

.post-time{
    margin-left: auto;
    margin-right: 0.625em;
    white-space: nowrap;
    font-size: 0.7em;
}

.reaction{
    display: flex;
}

.LikesIcon{
   flex-direction: row;
    margin-right: 3.125em; 
}


