/* 掲示板 */
.board-list{
    display: flex;
    flex-direction: column;
    height:39.5em;
    width:100%;
    overflow:scroll;
}
.board-list::-webkit-scrollbar {
    display: none;
}
.board-item{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-img{
    margin: 0.625em;
    margin-right: 0.9375em;
}
.board-text{
    width: 100%;
    padding-right: 0.3125em;
}
#text{
    display: flex;
    padding-top: 0.3125em;
    margin-top: auto;
    margin-bottom: auto;
}
.time{
    margin-top: auto;
    margin-bottom: auto;
}
.post-img{
    flex-direction: row;
    margin-right: 3.125em;
}

.post-time{
    margin-left: auto;
    margin-right: 0.625em;
    white-space: nowrap;
    font-size: 0.7em;
}

.reaction{
    display: flex;
}

.LikesIcon{
   flex-direction: row;
    margin-right: 3.125em; 
}


