/* This is a CSS file */

.flex{
    display: flex;
}

.left{
    margin: 20px 20px;
    white-space: nowrap;
}

.center{
    padding: 0% 32%;
    white-space: nowrap;
}

.right{
     margin: 20px 30px;
     white-space: nowrap;
}

.line{
    border: none;
    margin: 0px 15px;
}

.size{
    font-size: 100%;
}

hr{
    margin: 3px auto;
}

.registerbtn{
    background: #68CFFB;
    color: #fff;
}
.backbtn{
    color: black;
    background-color: #D9D9D9;
}

.position{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button{
    appearance: none;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 10%;
    font-size: 16px;
    font-weight: bold;
    min-width: 20%;
    position: relative;
    left: 100%;
}