/* This is a CSS file */

.font2{
    color: #FFF;
    -webkit-text-stroke: 1px #000;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
    padding: 25px 0px 0px;
}

h1{
    color: #FFF;
    position: relative;
    text-align: center;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 1px #000;
    padding: 15px 0px 0px;
}

h2{
    color: #FFF;
    position: relative;
    text-align: center;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    padding: 5% 0;
}

button{
    box-sizing: content-box;
    color: #FFF;
    background-color: rgb(83, 226, 255);
    text-align: center;
    white-space: nowrap;
    font-size:xx-large;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    border: none;
    border-radius: 10px;
    width: 60px;
    height:50px;
    margin: auto 35%;
    padding: 0 auto ;
}
button:disabled{
    opacity: 0.3;
}

h3{
    color: #000;
    position: relative;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
}

.select-btn{
    box-sizing: content-box;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 5px;
    opacity: 1;
}

.select-btn::before{
    content: '';
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: -1;
    border-radius: 10px;
    border: 1px solid #000
}

.unselected-btn{
    transform:scale(0.8);
    opacity: 0.6;
    transition-duration: 0.5s;
}



.content-box11 .font{
    padding: 29px 0px 0px;
    font-size: 2.4em;
}

.content-box13 .font{
    padding: 29px 0px 0px;
    font-size: 2.4em;
}

.content-box1::before {
    background-image: url('../img/buisiness.jpg');
}

.content-box2::before {
    background-image: url('../img/life.jpg');
}

.content-box3::before {
    background-image: url('../img/hobby.jpg');
    
}

.content-box4::before {
    background-image: url('../img/talk.jpg');
}

.content-box5::before {
    background-image: url('../img/music.jpg');
}

.content-box6::before {
    background-image: url('../img/study.jpg');
    
}

.content-box8::before {
    background-image: url('../img/match.jpg');
    
}

.content-box9::before {
    background-image: url('../img/food.jpg');
    
}

.content-box10::before {
    background-image: url('../img/trip.jpg');
}

.content-box11::before {
    background-image: url('../img/sports.jpg');
}
.content-box12::before {
    background-image: url('../img/beauty.jpg');
}
.content-box12>.font{
    font-size: 2.1em;
}
.content-box13::before {
    background-image: url('../img/fashion.jpg');
}

.content-box11>.font{
    padding: 29px 0px 0px;
    font-size: 2.4em;
}

.content-box13>.font{
    font-size: 1.9em;
}

.scroll {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 350px;
    height: 535px;
    overflow-y: scroll;
    margin: 0 5%;
}

.scroll::-webkit-scrollbar{
    display: none;
}