.login-container{
    position: relative;
}
#title {
    margin-top: 30%;
    text-align: center;
    left: -20%;
    z-index: 100;
}
#logo-img{
    left: 25%;
    position: fixed;

}

#title-text{
    top: 22%;
    left: 10%;
    position: fixed;
}

#main-content {
    position: fixed;
    top:40%;
    left: 19%;

    text-align: center;
    z-index: 1000;
}

.textbox {
  width: 90%;
  height: 3em;
  padding: 3px 7px;
  margin-top: 2em;
  border-radius: 5px;
  border: 2px solid #bbb;
}
.pas {
    margin-right: 4px;
    margin-bottom: 0px;
}
.textbox:focus {
  outline: 0;
  border: 2px solid #2196f3;
}
.p {
    text-align: end;
    margin-right: 2em;
}

.loginbtn {
    appearance: none;
    border: 0;
    border-radius: 8px;
    background: #68CFFB;
    color: #fff;
    padding: 8px 16px;
    /* margin-top: 5%; */
    font-size: 16px;
    font-weight: bold;
    min-width: 85%;

    /* 撮影用 */
    margin-top: 10%;
    margin-bottom: 50%;

}
.loginbtn:focus {
  outline: 0;
  border: 2px solid #68CFFB;
}

a {
    color: #68CFFB;
    text-decoration:none;
}