/* This is a CSS file */
.profile-header{
    position:relative;
}
.setting{
    position:absolute;
    right: 20px;
    bottom: 350px;
}
.setting img{
    width: 20px;
    height: 20px;
}

#head-img{
    left:8px;
    position:absolute;
}
#icon-img{
    top:130px;
    left:153px;
    position:absolute;
}
.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    float: left;
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: 33%;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  margin: auto;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding:0;

  clear: both;
  overflow: hidden;
}


/*areaにis-activeというクラスがついた時の形状*/
.show {
    display: inline;/*表示*/
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    border-bottom: 3px solid orange;
}

.tab-contents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:275px;
    width:100%;
}
.tab_content{
    margin-left: 20px;
    overflow: auto;
    box-sizing: border-box;
    width: 650px;
    height:100%;
}
.tab_content::-webkit-scrollbar {
    display: none;
}
.tab_content img{
    display:inline-block;
    width:31%;
    height:118px;
    padding:0;
}
.follow-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.follow-item img{
    float: left;
    width: 50px;
    height: 50px;

}
.follow-item p{
    float: left;
    margin-left: 20px;
}
.follow-text{
    margin-left: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
          
.follow-item button{
    float: right;
    height:30px;
    color: #fff;
    background-color: #68CFFB;
    border-radius: 5px;
}
 
footer{
    bottom:0;
}

         