/* プロフィール画面 */
#container{
    height: 780px;
}
main{
    position:relative;
    overflow-y: scroll;
    height: 770px;
}
main::-webkit-scrollbar {
    display: none;
}
/* 設定アイコン */
.setting{
    position:absolute;
    right: 20px;
    top: 180px;
}
.setting img{
    width: 20px;
    height: 20px;
}

/* ヘッダー画像とアイコン */
#head-img{
    left:8px;
    position:absolute;
}
#icon-img{
    top:130px;
    left:153px;
    position:absolute;
}

/* プロフィールテキスト全体 */
.profile-text{
    margin-top: 200px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-text p{
    margin-top: 0;
}

/*自己紹介文*/
#myself{
    max-width: 200px;
    max-height: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#myself.more{
    word-break: break-all;
    white-space: pre-wrap;
    overflow: visible;
    text-overflow: clip;
}


/*タブ切り替え全体のスタイル*/
.tabs {
    float: left;
  margin-top: 80px;
  padding-bottom: 0;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: 33%;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  margin: auto;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding:0;
  clear: both;
  overflow: hidden;
}


/*areaにis-activeというクラスがついた時の形状*/
.show {
    display: inline;/*表示*/
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    border-bottom: 3px solid orange;
}

/* コンテンツ全体 */
.tab-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:450px;
    width:100%;
}
.tab_content{
    overflow-y: auto;
    box-sizing: border-box;
    width: 95%;
    height:100%;
}
.tab_content::-webkit-scrollbar {
    display: none;
}

/* フォロー・フォロワー */
.follow-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.follow-item img{
    width: 50px;
    height: 50px;
}


          
.follow-item button{
    height:30px;
    color: #fff;
    white-space: nowrap;
    font-weight: 800;
    border-radius: 5px;
    background-color: #68CFFB;
}
#follow-btn{
    background-color: #646464;
}


#follow-name,#follower-name{
    padding-right: 10%;
    white-space: nowrap;
}
 
footer{
    position: sticky;
    bottom:0;
}

         