header {
        justify-content: space-between;
        width: 100%;
        /* 幅いっぱいを指定 */
        height: 50px;
        /* 高さを50pxに指定 */
        padding: 20px 50px;
        /* ヘッダーに上下左右それぞれ余白を指定 */
        box-sizing: border-box;
        /* padding分を含んで幅を100%にするため */
        position: fixed;
        /* ウィンドウを基準に画面に固定 */
        top: 0px;
        /* 上下の固定位置を上から0pxにする */
        left: 0px;
        /* 左右の固定位置を左から0pxにする */
        display: flex;
        /* 中の要素を横並びにする */
        align-items: center;
        /* 中の要素を上下中央に並べる */
        border-bottom: 1px solid #c0c0c0;
    }
    
    header p {
        font-size: 20px
    }
    
    
    textarea {
        margin-top: 5%;
        width: 92%;
        height: 50px;
        border: none;
    }

    a {
        text-decoration: none;
        text-decoration-color:#c0c0c0;
        margin-left: -30px;
    }
    
    #close {
        width: 16px;
        height: 16px;
        margin-left: -40px;
        margin-top: 5px;
        color: grey;
    }
    
    #inputlength {
        margin-right: -40px;
    }
    
    .textAreaFont {
        font-size: 20px
    }

    .photoArea2{
        border-top: 1px solid #c0c0c0;
        display: flex;
        justify-content: space-between;
        padding-left: 11%;
        padding-top: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
        position: fixed;
        bottom: 3%;    
    }

    .photoArea2 .photo{
        position: relative;
        width: 105px;
        height: 140px;
        border: 1px solid #c0c0c0;
        margin: 2%;
    }

    .photoArea2 .photo .addBtn{
        width: 24px;
        height: 24px;
        justify-content: space-between;
        position: absolute;
        right: -10px;
        bottom: -10px;
    }

    .img-input{
        opacity: 0;
        display: none;
    }
    
    /* 005 */
    
    .previewImage{
        width: 105px;
        height: 140px;
    object-fit: cover;
    }

    a:link {
        color: #000000;
        text-decoration: none;
    }

    .replybtn {
    appearance: none;
    border: 0;
    border-radius: 15px;
    background: #68CFFB;
    color: #fff;
    padding: 1.5% 5%;
    margin-top: 1.2%;
    font-size: 16px;
    font-weight: bold;
    min-width: 25%;
    margin-right: -40px;
    cursor:pointer;
    }
    .replybtn:active{
    -webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;

    }
    

    /* 掲示板 */
.board-list{
    display: flex;
    justify-content: flex-start;
    height:25%;
    width:100%;
    overflow:scroll;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.board-list::-webkit-scrollbar {
    display: none;
}
.board-item{
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
#reply-content{
    max-height:300px ;
        flex-direction: column;
        overflow-y:scroll ;
        overflow-x:hidden;
    }
h4{
        margin:0;
        position: sticky;
        background-color: #e3e3e3;
    }
    #reply-content>.board-item{
        margin-top: 0;
    }
.icon-img{
    margin: 15px;
    margin-top: 15px;
    margin-right: 50px;
}
.post-img{
    flex-direction: row;
    margin-right: 30px;
}
.post-img img{
    margin-right:20px;
}
.post-time{
    margin-left: auto;
    margin-right: 10px;
}
#text{
    text-align: left;
}
.time{
    text-align: right;
}
#follow-content>.board-item{
    width: 100%;
}