/* This is a CSS file */

.setting-headder{
    text-align: center;
}

.back{
    text-align: left;
}

.no-line{
    text-decoration: none;
    color: black;
    position: relative;
    left: 20px;
}

.position{
    position: relative;
    left: -20px;
}

.footer{
    margin: 410px 0px 0px; 
}