body {
  color: #3d3d3d;
<<<<<<< HEAD
  background-color: #ce1616; }
=======
  background-color: #5a3535; }
>>>>>>> 69b4cfb2b1e772a1d3ceba9f04490e12888260e4
  body h1 {
    size: 2em;
    color: #a71616; }
