body {
  color: #3d3d3d;
  background-color: white; }

#main {
  color: black; }
  #main .header {
    position: sticky;
    top: 0px;
    margin-top: 50px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #main .header .header-img {
      height: 40px;
      display: flex; }
      #main .header .header-img .search {
        width: 26px;
        height: 26px;
        margin: auto auto auto 20px; }
      #main .header .header-img .logo {
        margin: auto 0px;
        width: 160px;
        height: 33px; }
      #main .header .header-img .notice {
        width: 26px;
        height: 26px;
        margin: auto 20px auto auto; }

.footer {
  position: sticky;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-left: 15px;
  z-index: 2; }
  .footer li {
    text-align: center;
    margin: 20px;
    float: left;
    list-style: none; }
    .footer li img {
      height: 26px; }
